{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="margin-top: 50px;">
    <h1 class="display-4 fw-bold">Simulador para practicar previo al examen complexivo</h1>
    <p class="lead">
        Hecho por estudiantes para estudiantes
    </p>
    <a href="#" download="CuestionarioExamenComplexivo"class="btn btn-danger px-4">Descargar el cuestionario de preguntas</a>
</div>
<section id="testimonial">
    <div class="container">
        <div class="testimonial-view">
            <div class="owl-carousel">
                {% for i in courses%}
                <div class="testimonial-box">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <h5 class="font-weight-normal">{{i.name_course}}</h5>
                                <div class="d-flex my-4">
                                    <a href="{% url 'quiz:question' i.slug_name i.id_course %}" class="btn btn-primary">Ir al Curso</a>
                                </div>
                                <div class="mt-2">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{i.total_question}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="mt-3"> <span class="text1">{{i.total_question}} preguntas <span class="text2">de 100</span></span> </div>
                                </div>
                            </div>
                        </div>
                    {% comment %}
                    <div class="mb-4">
                        <h3 class="heading">{{i.name_course}}</h3>
                        <a href="{% url 'quiz:question' i.id_course %}" class="btn btn-primary">Realizar Quiz</a>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{i.total_question}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">{{i.total_question}} preguntas <span class="text2">de 100</span></span> </div>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
                {% endfor%}
            </div>
        </div>
        <div class="text-center">
            <p class="lead">
                Hay un total <strong>{{questions_total}}</strong> preguntas en general 
            </p>
        </div>
    </div>
</section>
{% endblock %}