{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="pricing-header px-3 py-3 mx-auto text-center">
    <h1 class="display-4 fw-bold">Contactate con nosotros</h1>
    <p class="lead">
        Puede contactarse con nosotros por correo electrónico mediante el siguiente formulario    
    </p>
</div>
<div class="col-11 container">
  <div class="row mx-lg-auto">
      <form class="contact-form c-mb-15 c-gutter-15"  id="formContacto" action="{% url 'quiz:contact'%}" role="form" >
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-sm-6">
                {{form.name|add_class:'form-control'|attr:'placeholder:Nombre'}}
            </div>

            <div class="col-sm-6">
                {{form.email|add_class:'form-control'|attr:'placeholder:Correo electronico'}}
            </div>

            <div class="col-12">
                {{form.subject|add_class:'form-control'|attr:'placeholder:Asunto'}}
            </div>
            <div class="col-12">
                {{form.message|add_class:'form-control'}}
            </div>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LfVWIscAAAAAIkXHLT-Xr8mTjzDcrKxSQpz3-Oc"></div>
            <div class="text-center">
                <button class="w-100 btn btn-primary" type="submit">Enviar Mensaje</button>        
            </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}
{% block extra_js%}
<script>
    var url_contact = {% url 'quiz:contact' %};
</script>
<script src="{% static 'contact/functions_contact.js'%}"></script>
{% endblock %}