{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="loaderForm" class="loader loader-default"></div>
<div id="infoQuiz"class="px-4 py-5">
    <h1 class="display-5 fw-bold text-center mb-4">{{name_slug}}</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4 text-center">
            Bienvenido 😀 , Aquí podrás encontrar una gran variedad de preguntas 
            a resolver , el Quiz consta con 10 preguntas aleatorias para que puedas resolverlo sin límite de tiempo.
            <br>
            <span style="font-weight: 400;">Si deseas agregar una nueva pregunta , <a href="/contact/">contáctanos</a> para que te podamos ayudar </span>
        </p>
        
        {% if data %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center text-center">
                <button type="button" onclick="return showQuiz('#loaderForm','#infoQuiz',1);" class="btn btn-outline-dark btn-lg px-4">Realizar Quiz</button>
            </div>
        {% else %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center text-center">
                <button type="button" onclick="return showQuiz('#loaderForm','#infoQuiz',0);" class="btn btn-outline-dark btn-lg px-4">Realizar Quiz</button>
            </div>
        {% endif %}
            

 
    </div>
</div>
<div id="quizForm"class="px-4 display-none">
    <h1 class="display-5 fw-bold text-center mb-4">{{name_slug}}</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4 text-center">
                Bienvenido 😀 , Aquí podrás encontrar una gran variedad de preguntas 
                a resolver , el Quiz consta con 10 preguntas aleatorias para que puedas resolverlo sin límite de tiempo.
                <br>
            <span style="font-weight: 400;">Si deseas agregar una nueva pregunta , <a href="/contact/">contáctanos</a> para que te podamos ayudar </span>
        </p>
    </div>
    <div class="container">
        <div class="quiz-container mb-4 quiz-heigth">
            <div id="quiz"></div>
        </div>
    </div>
    <div class="d-grid gap-4 d-md-flex justify-content-center buttonMargin">
            <button id="previous" class="btn btn-outline-primary">Anterior pregunta</button>
            <button id="next" class="btn btn-outline-primary">Siguiente pregunta</button>
            <button id="submit" class="btn btn-outline-primary">Ver Resultados</button>
    </div>
</div>


{% endblock %}



{% block extra_js %}
<script type="text/javascript">
    var Questions = {{data|safe}};
</script>
<script src="{% static 'quiz/functions_quiz.js' %}"></script>
{% endblock%}
